
<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<a href="/logout" class="admin-back-btn">Logout</a>

<div class="admin-container">
  <div class="admin-card">

    <h1 class="admin-title">Admin Dashboard</h1>

    <div class="admin-menu">
      <a href="/admin/annotators">
        <button>Annotators</button>
      </a>

      <a href="/admin/repository">
        <button>Repository</button>
      </a>

      <a href="/admin/new">
        <button>New Annotations</button>
      </a>

      <form action="/switch-to-annotator" method="POST">
        <button type="submit" class="welcome-btn secondary">
        Login as Annotator
        </button>
      </form>

    </div>

  </div>
</div>

</body>
</html>
